
<nav class="navbar" style="margin: 0; background-color: lightsteelblue">
  <div class="container-fluid row" style="margin: 0">
    <div class="pull-left navbar-text">
      <ol class="product-breadcrumbs head-size" id="menu" style="margin: 0">
        <li class="breadcrumb-item"><a routerLink="..">Home</a></li>
        <li class="breadcrumb-item">  <a routerLink="./">Products</a></li>
        <li class="breadcrumb-item">  <a routerLink="../allusers">Users</a></li>
      </ol>
    </div>
    <!--<div class="pull-right button button-secondary">-->
    <!--</div>-->
  </div>
</nav>

<div class="layout-container" style="background-color: seashell">
  <div class="product-image">
    <!--<div class="col-md-4 col-sm-6" *ngFor="let user of users;let i = index">-->
    <div class="image-container">
      <div class="overlay">
        <table class="table">
          <caption>List of users</caption>
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">TITLE</th>
            <th scope="col">PRICE</th>
            <th scope="col">DESCRIPTION</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor = "let product of products; let i = index">
            <th scope="row">i</th>
            <td>{{product._id}}</td>
            <td>{{product.title}}</td>
            <td>{{product.price}}</td>
            <td>{{product.description}}</td>
            <td>
              <button (click)="deleteProduct(i)" class="btn btn-block btn-danger">Delete</button>
              <button (click)="editProduct(i)" class="btn btn-block btn-primary">Edit</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
