<nav class="navbar navbar-fixed-top navbar-light bg-secondary">
  <a class="btn navbar-brand" routerLink="/user/{{userId}}/website/{{websiteId}}/page">
    <span class="glyphicon glyphicon-chevron-left text-dark"></span>
  </a>
  <div class="navbar-brand font-weight-bold">
    Widgets
  </div>
</nav>

<div class="cl-body-padding">
  <div *ngFor="let widget of widgets">

    <div *ngIf="widget.widgetType === 'HEADER'">
      <div class="pull-right">
        <a [routerLink]="['/#']" class="pull-right">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
        <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </div>
      <h1>{{widget.text}}</h1>
    </div>

    <div *ngIf="widget.widgetType === 'IMAGE'">

      <div>
        <a [routerLink]="['/#']" class="pull-right">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
        <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}" class="pull-right">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <iframe width="{{widget.width}}" height="450" [src]="photoURL(widget.url)" frameborder="0" allowfullscreen>
        </iframe>
      </div>
    </div>
    <div class="embed-responsive embed-responsive-16by9" *ngIf="widget.widgetType === 'YOUTUBE'">
      <div>
        <iframe width="{{widget.width}}" height="360" [src]="photoURL(widget.url)" frameborder="0" allowfullscreen>
        </iframe>
        <a [routerLink]="['/#']" class="pull-right">
          <span class="glyphicon glyphicon-menu-hamburger" style="background-color: white"></span>
        </a>
        <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}" class="pull-right">
          <span class="glyphicon glyphicon-cog" style="background-color: white"></span>
        </a>
      </div>
      <br>
    </div>

  </div>
</div>


