
<top-bar></top-bar>
<!--<nav class="row cart-total" style="background: transparent">-->
  <!--<div class="container-fluid row">-->
    <!--<div class="pull-left">-->
      <!--<a routerLink="./"-->
         <!--class="navbar-text right-margin">-->
        <!--BACK-->
      <!--</a>-->
    <!--</div>-->
    <!--<div class="pull-right">-->
      <!--<button routerLink="/register"-->
      <!--class="btn bordered button-wide">-->
      <!--Register-->
      <!--</button>-->
      <!--<button routerLink="/"-->
      <!--class="right-margin btn bordered blue-text">-->
      <!--Visit as Guest-->
      <!--</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->


<div class="header-image">
    <div class="header-block">
      <div class="header-text">
        <div class="header-text-title">Plates Shop</div>
        <br/>
        <p></p>
        <p></p>
        <br/>
        <br/>
        <!--<form class="cart-page-content" (ngSubmit)="login()" #f="ngForm">-->
        <form class="cart-page-content" (ngSubmit)="login()" #f="ngForm">

            <label class="text">Username</label>
            <input type="text" name="username" placeholder="username" class="input-style" ngModel required #username="ngModel">

            <label class = "text">Password </label>
            <input type="password" name="password" placeholder="password" class="input-style" ngModel required #password="ngModel">

          <span class="help-block" *ngIf="!password.valid && password.touched">
      Please enter password!
          </span>

          <br/>

          <p></p>
          <p></p>
          <P></P>
          <div class="quick-cart-footer">
            <div class="quick-cart-footer-cell">
              <button [disabled]="!f.valid" class="button button-secondary button-wide-login button-large" type="submit">Login</button>
            </div>

            <div class="quick-cart-footer-cell">
              <button routerLink="/register/{{userType}}" class="button button-secondary button-wide-login button-large">Register</button>
            </div>

            <div class="quick-cart-footer-cell">
              <button class="button button-secondary button-large button-wide-login" (click)="navigateToFacebook()">Facebook Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>


<div class="layout-container">
  <div class="product-grid">
    <div class="col-md-4 col-sm-6" *ngFor="let product of products;let i = index">
      <div class="image-container-list">
        <div class="product-image" [ngStyle]="{'background-image': 'url(./assets/uploads/' + product.imageUrl + ')'}"></div>
        <div class="overlay">
          <!--<div class="button button-primary" [routerLink]="['../product',i+1]">Edit Details</div>-->
        </div>
      </div>
      <div class="product-details">
      </div>
    </div>
  </div>
</div>

