
<nav class="navbar" style="margin: 0; background-color: lightsteelblue">
  <div class="container-fluid row" style="margin: 0">
    <div class="pull-left navbar-text">
      <ol class="product-breadcrumbs head-size" id="menu" style="margin: 0">
        <li class="breadcrumb-item"><a routerLink="..">Home</a></li>
        <li class="breadcrumb-item">  <a routerLink="../allproducts">Products</a></li>
        <li class="breadcrumb-item">  <a routerLink="./">Users</a></li>
      </ol>
    </div>
    <!--<div class="pull-right button button-secondary">-->
    <!--</div>-->
  </div>
</nav>

<div class="layout-container" style="background-color: seashell">
  <div class="product-image">
    <!--<div class="col-md-4 col-sm-6" *ngFor="let user of users;let i = index">-->
      <div class="image-container">
        <!--<div class="product-image" [ngStyle]="{'background-image': 'url(./assets/imgs/' + product.image + ')'}"></div>-->
        <div class="overlay">
          <!--<div class="button button-primary" [routerLink]="['./products',i+1]">View Details</div>-->
          <!--<div class="button button-primary" (click)="addToCart(product)">Add To Cart</div>-->

          <table class="table">
            <caption>List of users</caption>
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">ID</th>
              <th scope="col">USERNAME</th>
              <th scope="col">EMAIL</th>
              <th scope="col">TYPE</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </tbody>
          </table>


        </div>
      <!--</div>-->
      <div class="product-details">
        <div class="product-brand">{{user._id}}</div>
        <div class="product-title">{{user.username}}</div>
        <div class="product-price">{{user.email | currency :'USD':true }}</div>
      </div>
    </div>
  </div>
</div>
