
<nav class="navbar" style="margin: 0; background-color: lightsteelblue">
  <div class="container-fluid row" style="margin: 0">
    <div class="pull-left navbar-text">
      <ol class="product-breadcrumbs head-size" id="menu" style="margin: 0">
        <li class="breadcrumb-item"><a routerLink="..">Home</a></li>
        <li class="breadcrumb-item">  <a routerLink="../allproducts">Products</a></li>
        <li class="breadcrumb-item">  <a routerLink="./">Users</a></li>
      </ol>
    </div>
    <!--<div class="pull-right button button-secondary">-->
    <!--</div>-->
  </div>
</nav>

<div class="layout-container" style="background-color: seashell">
  <div class="product-image">
    <!--<div class="col-md-4 col-sm-6" *ngFor="let user of users;let i = index">-->
      <div class="image-container">
        <!--<div class="product-image" [ngStyle]="{'background-image': 'url(./assets/imgs/' + product.image + ')'}"></div>-->
        <div class="overlay">
          <!--<div class="button button-primary" [routerLink]="['./products',i+1]">View Details</div>-->
          <!--<div class="button button-primary" (click)="addToCart(product)">Add To Cart</div>-->

          <table class="table">
            <caption>List of users</caption>
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">ID</th>
              <th scope="col">USERNAME</th>
              <th scope="col">TYPE</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor = "let user of users; let i = index">
              <th scope="row">i</th>
              <td>{{user._id}}</td>
              <td>{{user.username}}</td>
              <td>{{user.userType}}</td>
              <td>
                <button (click)="deleteUser(i)" class="btn btn-block btn-danger">Delete</button>
                <button (click)="editUser(i)" class="btn btn-block btn-primary">Edit</button>
              </td>
            </tr>
            </tbody>
          </table>


        </div>
    </div>
  </div>
</div>
