<div class="container">
  <div *ngIf="errorFlag" class="alert alert-danger">
    {{errorMsg}}
  </div>
  <h1>{{userType}} Register</h1>
  <form>

    <div style="position: absolute; width: 60%; height: 300px; left: 50%; top:250px; margin: 0 0 0 -25%">
    <label class = "text" for="username">Username</label>
    <input [(ngModel)]="user.username" type="text" class="input-style" id="username" placeholder="username" [ngModelOptions]="{standalone: true}"/>
<br/>
    <label class = "text" for="password">Password</label>
    <input [(ngModel)]="user.password" type="password" class="input-style" id="password" placeholder="password" [ngModelOptions]="{standalone: true}"/>
<br/>
    <label class = "text" for="verifyPassword">Verify Password</label>
    <input [(ngModel)]="verifyPassword" type="password" class="input-style" id="verifyPassword" placeholder="verify password" [ngModelOptions]="{standalone: true}"/>
    </div>
    <br/>

    <div class="quick-cart-footer" style="position: absolute; width: 60%; height: 300px; left: 50%; top:400px; margin: 0 0 0 -25%">

    <button class="button button-secondary button-wide button-large" (click)="register()">Register</button>
    <button class="button button-secondary button-wide button-large" routerLink="/login">Cancel</button>
    </div>
  </form>
</div>


