<div class="container-fluid cl-body-padding">
  <div *ngIf="errorFlag" class="alert alert-danger">
    {{errorMsg}}
  </div>
  <h1>Register</h1>
  <form>
    <label for="username">Username</label>
    <input [(ngModel)]="user.username" type="text" class="form-control" id="username" placeholder="username" [ngModelOptions]="{standalone: true}"/>

    <label for="password">Password</label>
    <input [(ngModel)]="user.password" type="password" class="form-control" id="password" placeholder="password" [ngModelOptions]="{standalone: true}"/>

    <label for="verifyPassword">Verify Password</label>
    <input [(ngModel)]="verifyPassword" type="password" class="form-control" id="verifyPassword" placeholder="verify password" [ngModelOptions]="{standalone: true}"/>

    <br/>
    <button class="btn btn-primary btn-block" (click)="register()">Register</button>
    <button class="btn btn-danger  btn-block" routerLink="/login">Cancel</button>
  </form>
</div>
